# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

# Files – anywhere
log.*
*.gz
cell*
point*
*.foam
*.dat
*.png
*(*)
Ma
L

# Folders – anywhere
__pycache__/
0.*/
[1-9]*
dynamicCode/
extendedFeatureEdgeMesh/
polyMesh/
triSurface/
processor*/
VTK/

# Files – local
projectTemplate/**/makeStrokes
!projectTemplate/design0/makeStrokes

# Folders – local
projectTemplate/**/postProcessing/
projectTemplate/**/stroke_*mm
!projectTemplate/design0/stroke_2mm
