# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

# Files - anywhere
log.*
*.gz
cell*
point*
*.foam
*.dat

# Folders - anywhere
0.*/
[1-9]*
extendedFeatureEdgeMesh/
polyMesh/
triSurface/
postProcessing/
VTK/

# Folders – local
run/ver2/0
run/ver2/verRun
run/ver3/0
run/ver3/verRun
