# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

# Files - anywhere
log.*
*.foam
*.dat

# Folders - anywhere
*.wiki
0.*/
[1-9]*
triSurface/

# Folders – local
run/ver2/0
run/ver2/verRun
run/ver3/0
run/ver3/verRun